body{ 
    color: rgb(255, 255, 255);
    min-height: 100vh;
    background: linear-gradient(180deg, #272757 0%, #1a1a6e);
    font-family: Arial, sans-serif;
    margin: 0px;
}

header{
    padding: 13px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 5px 5px #17174e;
}

.titulo{
    display: flex;
    align-items: center;
    justify-content: center;
}

.titulo h1{
    font-size: 50px;
}

#contenedor-cocktails{
    display: flex;
    flex-wrap: wrap;
    gap: 3px;
    justify-content: space-around;
    padding: 2px 10px;
    align-items: center;
}

.cocktailCard{
    background-color: #0F0E47;
    height: 180px;
    width: 230px;
    display: flex;
    /* flex-direction: column; */
    gap: 3px;
    align-items: center;
    justify-content:space-around;
    padding: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.cocktailCard img{
    width: 100px;
}

.cocktailCard h3 {
    text-align: center;
}

.cocktailCard p {
    text-align: center;
}